.favourites-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.favourite-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 3px solid;
	margin: 5px;
	border-radius: 15px;
	border-color: rgb(36, 132, 145);
}

.favourite {
	margin-right: 10px;
}
